.Button {
  margin 0 .5em
  padding 5px 15px

  cursor pointer
  color $white
  background-color $uiGrey
  text-decoration none
  user-select none

  &.active {
    text-decoration underline
  }

  &:hover {
    background-color lighten($uiGrey, 15%)
  }
}
